target/
flyway.conf
/src/main/resources/hibernate.properties

/shelf/
/workspace.xml
/.idea/workspace.xml
/httpRequests/
/.idea/httpRequests/
/dataSources/
/dataSources.local.xml
/.idea/dataSources/
/.idea/dataSources.local.xml

application.properties