target/
flyway.conf

/shelf/
/workspace.xml
/.idea/workspace.xml
/httpRequests/
/.idea/httpRequests/
/dataSources/
/dataSources.local.xml
/.idea/dataSources/
/.idea/dataSources.local.xml
.mvn/

application.properties

test.http
mvnw
mvnw.cmd