target/
flyway.conf

/shelf/
/workspace.xml
/.idea/workspace.xml
/httpRequests/
/.idea/httpRequests/
/dataSources/
/dataSources.local.xml
/.idea/dataSources/
/.idea/dataSources.local.xml

application.properties
application-dev.properties
application-test.properties

test.http